# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude per-instance data

options.txt
icon.png

coremods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

mods/*.jar